* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 90%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    margin-inline: auto;
    background-color: black;
}

.video {
    width: 100%;
}

.container .controls_container  {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 200;
    color: white;
    opacity: 0;
    transform: opacity 150ms ease-in-out;
}

.container .controls_container::before {
    content: "";
    position: absolute;
    bottom: 0;
    background : linear-gradient(to top, rgba(0,0,0, .75), transparent);
    width: 100%;
    aspect-ratio: 6 / 1;
    z-index: -1;
    pointer-events: none;
}

.container:hover .controls_container,
.container:focus-within .controls_container, 
.container.paused .controls_container {
    opacity: 1;
}

.controls_container .controls {
    display: flex;
    gap: .5rem;
    padding: .25rem;
    align-items: center;
}

.controls_container .controls button {
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    height: 30px;
    width: 30px;
    font-size: 1.1rem;
    cursor: pointer;
    opacity: .85;
    transition: opacity 150ms ease-in-out;
}

.controls_container .controls button:hover {
    opacity: 1;
}

.container.paused .fa-pause {
    display: none;
}

.container:not(.paused) .fa-play {
    display: none;
}



