*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}
  

.container {
    position: relative;
    width: 90%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    margin-inline: auto;
    background-color: black;
}

.video {
    width: 100%;
}

.container.theater,
.container.full_screen {
    max-width: initial;
    width: 100%;
}

.container.theater {
    max-height: 90vh;
}

.container.full_screen {
    max-height: 100vh;
}

.container .controls_container  {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 200;
    color: white;
    opacity: 0;
    transform: opacity 150ms ease-in-out;
}

.container .controls_container::before {
    content: "";
    position: absolute;
    bottom: 0;
    background : linear-gradient(to top, rgba(0,0,0, .75), transparent);
    width: 100%;
    aspect-ratio: 6 / 1;
    z-index: -1;
    pointer-events: none;
}

.container:hover .controls_container,
.container:focus-within .controls_container, 
.container.paused .controls_container {
    opacity: 1;
}

.controls_container .controls {
    display: flex;
    gap: .5rem;
    padding: .25rem;
    align-items: center;
}

.controls_container .controls button {
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    height: 30px;
    width: 30px;
    font-size: 1.1rem;
    cursor: pointer;
    opacity: .85;
    transition: opacity 150ms ease-in-out;
}

.controls_container .controls button:hover {
    opacity: 1;
}

.container.paused .pause_icon {
    display: none;
}

.container:not(.paused) .play_icon {
    display: none;
}

.container.theater .tall {
    display: none;
}

.container:not(.theater) .wide {
    display: none;
}

.container.full_screen .open {
    display: none;
}

.container:not(.full_screen) .close {
    display: none;
}

.volume_high_icon,
.volume_low_icon,
.volume_muted_icon {
    display: none;
}

.container[data-volume-level="high"] .volume_high_icon {
    display: block;
} 

.container[data-volume-level="low"] .volume_low_icon {
    display: block;
}

.container[data-volume-level="muted"] .volume_muted_icon {
    display: block;
}

.volume_container {
    display: flex;
    align-items: center;
}

.volume_slider {
    width: 0;
    transform-origin: left;
    transform: scaleX(0);
    transition: width 150ms ease-in-out, transform 150ms ease-in-out;
}

.volume_container:hover .volume_slider,
.volume_slider:focus-within {
    width: 100px;
    transform: scaleX(1);
}